<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="css/register.css">
</head>

<body>
    <form action="/register" method="POST">
        <div class="insert">
            <h1>Register a Cat</h1>

            <div>
                <label for="name">Name</label>
                <input type="text" id="name" name="name" required placeholder="Cat name">
            </div>
            <div>
                <label for="birthday">Date of birth</label>
                <input type="date" id="birthday" name="birthday" min="2000-01-01" value=<%=date %> />
            </div>
            <div>
                <label for="img">Upload photo</label>
                <input type="file" id="img" name="img" accept="image/png, image/jpeg" />
            </div>
        </div>
        <button type="submit">Submit</button>
    </form>
    <!-- <a href="/profile></a> -->
</body>

</html>